﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "D";
}

<h2>Delete Category Page</h2>
<br />
<br />
<h1>Are you sure you want to delete this category?</h1>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit">Yes Delete</button>
</form>

<a href="/Index">Cancel</a>