﻿@model List<ClothBazar.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var category in Model)
{
    <h1>@category.ID</h1>
    <h1>@category.Name</h1>
    <h2>@category.Description</h2>
}
